{% extends "base.html" %}
{% block content %}
<!-- ##### About Us Area Start ##### -->
<section class="about_us_area section-padding-80 clearfix">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading text-center">
                    <h2>About Us</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="about_us_thumbnail">
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="about_us_content">
                    <h5>Our Story {{output}}</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque euismod, urna eu tincidunt consectetur, nisi nisl aliquet quam, et viverra lacus ex at elit. Proin efficitur, massa non suscipit tempus, justo orci fermentum metus, id elementum sapien eros in leo. Sed eget risus vel nulla dignissim interdum non nec nisi.</p>
                    <h5>Our Mission</h5>
                    <p>Curabitur et dolor eget metus fringilla feugiat a eget lacus. Nullam lacinia vehicula vestibulum. Aenean eu quam non ex tempus eleifend et a elit. Vivamus sit amet massa orci. Fusce eget justo sit amet mi accumsan viverra. Fusce egestas tortor ut lectus scelerisque, eget cursus elit dignissim.</p>
                    <h5>Our Values</h5>
                    <ul>
                        <li>Quality Products</li>
                        <li>Customer Satisfaction</li>
                        <li>Integrity and Honesty</li>
                        <li>Innovation and Improvement</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}