{% extends "base.html" %}
{% block content %}
<!-- ##### Course Area Start ##### -->
<section class="course_area section-padding-80 clearfix">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading text-center">
                    <h2>Our Courses</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- Single Course Area -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single_course">
                    <div class="course_thumbnail">
                    </div>
                    <div class="course_content">
                        <h5>Course Title 1</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque euismod, urna eu tincidunt consectetur.</p>
                        <a href="#" class="btn academy-btn btn-sm">Read More</a>
                    </div>
                </div>
            </div>
            <!-- Single Course Area -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single_course">
                    <div class="course_thumbnail">
                    </div>
                    <div class="course_content">
                        <h5>Course Title 2</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque euismod, urna eu tincidunt consectetur.</p>
                        <a href="#" class="btn academy-btn btn-sm">Read More</a>
                    </div>
                </div>
            </div>
            <!-- Single Course Area -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single_course">
                    <div class="course_thumbnail">
                    </div>
                    <div class="course_content">
                        <h5>Course Title 3</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque euismod, urna eu tincidunt consectetur.</p>
                        <a href="#" class="btn academy-btn btn-sm">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Course Area End ##### -->
{% endblock%}