{% extends "base.html" %}
{% block content %}

<section class ="feature-area section-gap" id ="service">
    <div class ="container">
        <div class ="menu-content pb-60 col-lg-8">
            <div class ="title text-center">
                <h1 class ="mb-10"> User Form </h1>
            </div>
        </div>
    </div>
    <div class ="row">
        <div class = "col-12">
            <form method = "post">
                {% csrf_token %}
<div> <label> Subject 1 </label> <input type ="text" name ="subject1" class= "form control">
</div>
<div> <label> Subject 2 </label> <input type ="text" name ="subject2" class= "form control">
</div>
<div> <label> Subject 3 </label> <input type ="text" name ="subject3" class= "form control">
</div>
<div> <label> Subject 4 </label> <input type ="text" name ="subject4" class= "form control">
</div>
<div> <label> Subject 5 </label> <input type ="text" name ="subject5" class= "form control">
</div>
<div class = "pt-4">
    <button type = "submit">Marksheet</button>
</div>
<label>Total </label> <input type="text" value= "{{total}}" class = "form-control">
<label>Percentage </label> <input type="text" value= "{{per}}" class = "form-control">
<label>Division </label> <input type="text" value= "{{div}}" class = "form-control">
</form>
</div>
</div>
</div>
</section>


{% endblock  %}