{% extends "base.html" %}
{% block content %}

<section class ="feature-area section-gap" id ="service">
    <div class ="container">
        <div class ="menu-content pb-60 col-lg-8">
            <div class ="title text-center">
                <h1 class ="mb-10"> User Form </h1>
            </div>
        </div>
    </div>
    <div class ="row">
        <div class = "col-12">
            <form method = "post" action = {% url 'submitform' %}>
                {% csrf_token %}
                {{form}}
                {% comment %} <div> <label for="">Value 1</label> <input type ="text" name ="num1" value = "{{n1}}"class= "form control">
                </div>
                <div> <label for="">Value 2</label> <input type ="text" name ="num2" value = "{{n2}}"class= "form control">
                </div> {% endcomment %}
                    <div class = "pt-4">
                        <button type = "submit">Save</button>
                    </div>
                    output <input type="text" value= "{{output}}">
                </form>
            </div>
        </div>
    </div>
</section>


{% endblock  %}